.git
.gitignore
.env
.env.example
.editorconfig
.DS_Store
docker-compose.yml
.dockerignore
.gitattributes
README.md
/storage/logs/*
/storage/framework/cache/*
/storage/framework/sessions/*
/storage/framework/views/*
/bootstrap/cache/*
node_modules
/public/hot
/public/storage
/vendor
.idea
.vscode
*.swp
*.swo
*~
.phpunit.result.cache
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
